# macOS specific system files
.DS_Store

# --- Python ---

# Virtual environment directories
/env/
/venv/

# Python cache
__pycache__/

# --- Project-specific files and directories ---

# Downloaded or generated data
/img_downloads/
/Books_data_csv/